<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<div style="text-align:center">
        <div ng-include src="table.html"></div>


<router-outlet></router-outlet>
<app-footer></app-footer> 